---
import Countdown from "../components/Countdown";
import RaceDate from "../components/RaceDate";
import RacingAt from "../components/RacingAt.astro";
import RaceSessionLinks from "../components/RaceSessionLinks.astro";
import RaceTimes from "../components/RaceTimes.astro";
import Page from "./Page.astro";

export interface Props {
  session: string;
  goTime: Date;
  circuit: string;
}

const { session, goTime, circuit } = Astro.props;
---

<Page>
  <RacingAt circuit={circuit} session={session} />
  <div
    class="h-32 break-inside-avoid text-7xl bold py-5 text-center flex items-center"
  >
    <Countdown goTime={goTime} client:only={"react"} />
  </div>
  <RaceDate goTime={goTime} utc />
  <RaceTimes goTime={goTime} />
  <RaceSessionLinks />
</Page>
