---
import Countdown from "../components/Countdown";
import SessionStart from "../components/SessionStart";
import RacingAt from "../components/RacingAt.astro";
import RaceSessionLinks from "../components/RaceSessionLinks.astro";
import Page from "./Page.astro";

export interface Props {
  session: string;
  goTime: Date;
  circuit: string;
  isSprint: boolean;
}

const { session, goTime, circuit, isSprint } = Astro.props;
---

<Page>
  <RacingAt circuit={circuit} session={session} />
  <div
    class="h-32 break-inside-avoid text-7xl bold py-5 text-center flex items-center"
  >
    <Countdown goTime={goTime} client:only={"react"} />
  </div>

  <div class="h-6 mb-5">
    <SessionStart goTime={goTime} client:only={"react"} />
  </div>
  <RaceSessionLinks isSprint={isSprint} />
</Page>
